$chip-colors: $primaryColors !default;

.chip {
  @apply text-xs capitalize inline-flex items-center px-2.5 py-1 rounded-full bg-slate-700 bg-opacity-10 text-slate-900;

  .chip-dot {
    @apply relative inline-flex mr-1.5 w-2.5 h-2.5 rounded-full bg-slate-900;
  }

  // Colors
  @each $name, $pair in $chip-colors {
    $color: nth($pair, 7);
    $lightColor: nth($pair, 6);

    &.is-#{$name} {
      background-color: $lightColor;
      @apply text-slate-800;

      .chip-dot {
        background-color: $color;
      }
    }
  }

  &.is-minimal {
    @apply bg-transparent;

    .chip-dot {
      width: 6px;
      height: 6px;
      margin-right: 8px;
    }
  }
}
