@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn ease 0.3s;
}

.customized-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.customized-scrollbar::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: 'transparent';
}

.customized-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  @apply bg-slate-200;
}

@mixin arrow($color: transparent) {
  border: 3px solid $color;
  border-radius: 2px;
  border-right: 0;
  border-top: 0;
  content: " ";
  display: block;
  height: 0.625em;
  margin-top: -0.4375em;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: rotate(-45deg);
  transform-origin: center;
  width: 0.625em;
}

%arrow {
  @include arrow;
}